.profile-page{
    height: 93vh;
    width: 100%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info{
    width: 100%;
    height: 25vh;
    overflow: hidden;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.7em;
    font-weight: bold;
    height: 13vh;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    overflow: hidden;

    .follow{
        background-color: black;
        height: 43%;
        color: white;
        border: 1.8px solid black;
        border-radius: 0.5rem;
    }

    .message{
        height: 43%;
        border: 1.8px solid black;
        border-radius: 0.5rem;
        background-color: white;
    }
}

.user-posts{
    width: 100%;
    height: 60vh;
    overflow: scroll;
}