.profile-page{
    height: 93vh;
    width: 100%;
    padding: 3%;
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-picture{
    margin-bottom: 3%;
    width: 30vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    overflow: hidden;

    img{
        width: auto;
        height: 100%;
        border-radius: 100%;
        object-fit: cover;
    }
}

.user-info{
    text-align: center;
    height: 12vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    p{
        font-size: 0.7em;
        font-weight: bold;  
    }
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.7em;
    font-weight: bold;
    height: 13vh;
    width: 100%;
    margin-bottom: 5%;
    overflow: hidden;

    .follow{
        background-color: black;
        height: 43%;
        color: white;
        border: 1.8px solid black;
        border-radius: 0.5rem;
    }

    .message{
        height: 43%;
        border: 1.8px solid black;
        border-radius: 0.5rem;
        background-color: white;
    }
}